.container {
  width: 100%;
  display: inline-block;
}

.matrixContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.row {
  flex-grow: 1;
  display: flex;
}

.cell {
  flex-grow: 1;
  margin: 2px;
}
